{% extends 'temp/admin.html' %}
{% block adminMiddle %}
    <title>Edit Collage Events | Don Bosco Collage Mampetta</title>
    <link rel="stylesheet" href="/static/style/events/editevents.css">


    <div class="middle-cont innerCont">
        <header class="middle-header"> <b>Edit collage events</b> </header>
        <div class="middle-inner-cont edit-events">
            {% for i in result %}
                <div class="year-cont">
                    <header class="year-header"> <b>{{ i.year }}</b> </header>
                    {% for j in i.month %}
                        <div class="month-cont">
                            <header class="month-header">{{ j.month }}</header>

                            <section class="event-day-cont" >
                                {% for k in j.days %}
                                    {% if user %}
                                        <section class="event-days" id="{{ k.event_id }}">
                                            <article class="event-date">{{ k.day }}</article>
                                            <article class="event-selDate"> <input type="date" value="{{ k.date }}"> </article>
                                            <article class="event-name"><input type="text" class="event-edit" value="{{ k.name }}" readonly></article>
                                            <article class="event-button"> <button class="edit-btn" onclick="editEvent({{ k.event_id }})">Edit</button> </article>
                                        </section>
                                        {% else %}
                                        <section class="event-days" data-eventId="{{ k.event_id }}">
                                            <article class="event-date">{{ k.day }}</article>
                                            <article class="event-name">{{ k.name }}</article>
                                        </section>
                                    {% endif %}
                                {% endfor %}
                            </section>

                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="/static/script/events/editevents.js">
{% endblock %}
{#Select academice date<br>#}
{#From <input type="date" id="fromDate" onchange="getEvents()">  To <input type="date" id="toDate" onchange="getEvents()">#}
{#{% csrf_token %}#}
{#        <div  class="events-all-cont">#}
{#            {% for i in result %}#}
{#                <header class="event-year">{{ i.year }}</header>#}
{#                {% for j in i.month %}#}
{#                    <section class="event-month-cont">#}
{#                        <header>{{ j.month }}</header>#}
{#                        <section class="event-day-cont" >#}
{#                            {% for k in j.days %}#}
{#                                {% if user %}#}
{#                                    <section class="event-days" id="{{ k.event_id }}">#}
{#                                        <article class="event-date">{{ k.day }}</article>#}
{#                                        <article class="event-selDate"> <input type="date" value="{{ k.date }}"> </article>#}
{#                                        <article class="event-name"><input type="text" class="event-edit" value="{{ k.name }}" readonly></article>#}
{#                                        <article class="event-button"> <button onclick="editEvent({{ k.event_id }})">Edit</button> </article>#}
{#                                    </section>#}
{#                                    {% else %}#}
{#                                    <section class="event-days" data-eventId="{{ k.event_id }}">#}
{#                                        <article class="event-date">{{ k.day }}</article>#}
{#                                        <article class="event-name">{{ k.name }}</article>#}
{#                                    </section>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        </section>#}
{#                    </section>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#        </div>#}
{##}
{#</script>#}
{##}
{##}
{#<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>#}
{#<script>#}
{##}
{#    resJson = str => str.substring( str.indexOf('sta[')+3, str.indexOf(']end')+1 )#}
{##}
{##}
{#    function updateEvent(eventId) {#}
{#        const event = document.getElementById(eventId)#}
{#        let date = event.children[1].children[0].value,#}
{#            eventName = event.children[2].children[0].value ;#}
{#        //console.log(eventName)#}
{#        $.ajax({#}
{#            cache:false,#}
{#            type:"POST",#}
{#            url:"updateevents",#}
{#            data:{csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),#}
{#                date: date, event: eventName, id: eventId},#}
{#            success: function (result) {#}
{#                data = JSON.parse(resJson(result))[0] ;#}
{#                if(data == "s"){#}
{#                    alert("Event edited SUCCESSFULLY") ;#}
{#                    location.reload() ;#}
{#                }#}
{#            },#}
{#            error: function (jqXHR, exception, responseText) {#}
{#                console.log(jqXHR, exception, responseText)#}
{#            }#}
{#        }) ;#}
{#    }#}
{##}
{#    function cancelUpadte(eventId) {#}
{#        const event = document.getElementById(eventId)#}
{#        $(event.children[0]).show() ;#}
{#        $(event.children[1]).hide() ;#}
{#        event.children[2].children[0].setAttribute('readonly', 'readonly') ;#}
{#        event.children[2].children[0].classList.remove('editInput') ;#}
{#        event.children[3].innerHTML = `<button onclick="editEvent(${eventId})">Edit</button>` ;#}
{#    }#}
{##}
{#    function editEvent(eventId){#}
{#        const event = document.getElementById(eventId)#}
{#        $(event.children[0]).hide() ;#}
{#        $(event.children[1]).show() ;#}
{#        event.children[2].children[0].removeAttribute('readonly') ;#}
{#        event.children[2].children[0].focus() ;#}
{#        event.children[2].children[0].classList.add('editInput') ;#}
{#        event.children[3].innerHTML = `<button onclick='cancelUpadte(${eventId})'>cancel</button> <button onclick='updateEvent(${eventId})'>Update</button>` ;#}
{#    }#}
{##}
{#    months = ['January', 'Febuary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'Decembe'] ;#}
{##}
{#    function  getEvents() {#}
{#        const fromDate = document.getElementById('fromDate').value,#}
{#            toDate = document.getElementById('toDate').value ;#}
{##}
{#        if(fromDate != "" && toDate != ""){#}
{#            var date = new Date(fromDate)#}
{#            $.ajax({#}
{#                cache:false,#}
{#                type:"POST",#}
{#                url:"",#}
{#                data:{csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),#}
{#                fromDate: fromDate, toDate: toDate},#}
{#                success: function (result) {#}
{#                    console.log(result)#}
{#                },#}
{#                error: function (jqXHR, exception, responseText) {#}
{#                    console.log(jqXHR, exception, responseText)#}
{#                }#}
{#            }) ;#}
{#        }#}
{#    }#}
{##}
{#</script>#}