<!DOCTYPE html>
<html>
    <head>
        <title>Vishnu P - Student @Don Bosco Collage Mampetta</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karla&display=swap">
        <link rel="stylesheet" href="../static/style/base.css">
        <link rel="stylesheet" href="../static/style/student/student.css">
        <script src='https://kit.fontawesome.com/d6494799fc.js' crossorigin='anonymous'></script>
        <!-- <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script> -->
    </head>
    <body>
        <header class="main-header">
            <div class="page-name-cont">
                <div class="header-icon-cont"></div>
                <span class="header-name">
                    <h2>Students Portal</h2>
                </sapn>
            </div>
        </header>

        <div class="main-body">

            <section class="mainBody-left">
                <div class="student-profile-cont">
                    <div class="stu-propic-cont"></div>
                    <article class="stu-name-cont">
                        <b>Vishnu P</b> <br>
                        <span>BOATBCA024</span>
                    </article>
                </div>

                <nav class="student-nav-cont">
                    <a href="asdasdasd.html"><article class="nav-item selectedNav"><i class="fas fa-home"></i> Home</article></a>
                    <a href="asdasdasd.html"><article class="nav-item"><i class="far fa-calendar-check"></i> Attendence</article></a>
                    <!-- <a href="asdasdasd.html"><article class="nav-item"><i class="fas fa-calendar-day"></i> Events</article></a> -->
                    <a href="asdasdasd.html"><article class="nav-item"><i class="far fa-chart-bar"></i> Internals</article></a>
                    <a href="asdasdasd.html"><article class="nav-item"><i class="fas fa-rupee-sign"></i> Fees</article></a>
                    <a href="asdasdasd.html"><article class="nav-item"><i class="fas fa-user-circle"></i> Profile</article></a>
                    <a href="asdasdasd.html"><article class="nav-item"><i class="fas fa-envelope-open-text"></i>Complaints</article></a>
                    <a href="asdasdasd.html"><article class="nav-item"><i class="fas fa-sign-out-alt"></i>Logout</article></a>
                </nav>

                <article class="student-currentSem-cont">
                    <article>Semester 5 <span>of 6</span> </article>
                    <div class="sem-meter-cont">
                        <div class="sem-meter-inner"></div>
                    </div>
                </article>

            </section>

            <section class="mainBody-middle">
                <div class="classroom-cont">
                    <header class="middleCont-header"><b>Classroom</b></header>
                    <div class="classroom-subject-cont">
                        <section class="classroom">
                            <span><b>Android Development Using Java</b></span>
                            <span>Anuprabha</span>
                        </section>
                        <section class="classroom">
                            <span><b>Computer Organization And Architecture</b></span>
                            <span>Swathi</span>
                        </section>
                        <section class="classroom">
                            <span><b>Java Programming</b></span>
                            <span>Geena vargeese</span>
                        </section>
                        <section class="classroom">
                            <span><b>Operating System</b></span>
                            <span>Fr Jobby</span>
                        </section>
                    </div>
                </div>

                <div class="classwork-cont">
                    <header class="middleCont-header"><b>Your Classworks</b> </header>
                    <div class="classwork-inner-cont">
                        <section></section>
                    </div>
                </div>

                

            </section>

            <section class="mainBody-right">

                <div class="notification-cont">
                    <header class="rightCond-header"><b>Notifications</b></header>
                    <section class="notification-inner-cont">
                        
                        <article class="notification-date">Saturday, 15 August</article>
                        
                        <article class="notification">
                            <article class="notifaction-sender">
                                 <span><b>Principal</b> <i class="fas fa-circle"></i> <label>12:34 PM</label> </span>
                                 <i class="fas fa-angle-down"></i>
                            </article>
                            <article class="notification-body">
                                5th semester examination for admission 2019 is postponded. New exam timetable will anounce later
                            </article>
                        </article>
                        
                        <article class="notification">
                            <article class="notifaction-sender">
                                 <span><b>Anuprabha</b> <i class="fas fa-circle"></i> <label>12:34 PM</label> </span>
                                 <i class="fas fa-angle-down"></i>
                            </article>
                            <article class="notification-body">
                                BCA final year students have a Android class on 20th August 
                            </article>
                        </article>
                        
                        <article class="notification-date">Monday, 10 August</article>
                        
                        <article class="notification">
                            <article class="notifaction-sender">
                                 <span><b>Admin</b> <i class="fas fa-circle"></i> <label>12:34 PM</label> </span>
                                 <i class="fas fa-angle-down"></i>
                            </article>
                            <article class="notification-body">
                                Please update your personal information before 20th August
                            </article>
                        </article>
                        

                    </section>

                </div>

                <div class="event-cont">
                    <header class="rightCond-header"><b>Events</b></header>
                    <section class="event-calendar-cont">
                        <div class="calendar-week-cont">
                            <article class="calendar-week">Su</article>
                            <article class="calendar-week">Mo</article>
                            <article class="calendar-week">Tu</article>
                            <article class="calendar-week">We</article>
                            <article class="calendar-week">Th</article>
                            <article class="calendar-week">Fr</article>
                            <article class="calendar-week">Sa</article>
                        </div>
                        
                        <div class="calendar-day-cont">
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>

                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>

                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>

                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>

                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                            <div class="calendar-day"></div>
                        </div>
                    </section>
                </div>

            </section>

        </div>

        <script>

            // months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            let date  = new Date() ;

            let selMonth = date.getMonth(), 
                selYear = date.getFullYear() ,
                todayWeek = new Date(`01/${selMonth+1}/${selYear}`).getDay(),
                noOfDays = new Date(date.getFullYear(), date.getMonth(), 0).getDate() ;
                // console.log(todayWeek, noOfDays) ;
            
            
            const elem = document.getElementsByClassName('calendar-day') ;
// console.log(elem.length) ;
            let nextMonth = false ;
            for(let i = todayWeek,  j = 1; i < elem.length; i++, j++){
                if(j > noOfDays){
                    j = 1 ;
                    nextMonth = true ;
                }
                document.getElementsByClassName('calendar-day')[i].innerText = j ;
                if(nextMonth){
                    document.getElementsByClassName('calendar-day')[i].classList.add('calendar-day-color') ;
                }
            }

            let prevYear =  selYear, prevMonth = 0;

            if(selMonth == 0){
                prevMonth = 12 ;
                prevYear = selYear - 1 ;
            } else 
            prevMonth = selMonth - 1 ;

            let prevNoOfdays = new Date(prevYear, prevMonth, 0).getDate() ;

            for(let i = todayWeek-1, j = prevNoOfdays; i >= 0; i--, j--){
                document.getElementsByClassName('calendar-day')[i].innerText = j ;
                document.getElementsByClassName('calendar-day')[i].classList.add('calendar-day-color') ;
            }
        </script>

    </body>
</html>