.main-body-middle{
    width: calc(100% - 260px);
    height: fit-content;
}

.main-body-right{
    display: none;
}

.middle-inner-cont span:nth-child(1), .label-notif-body{
    color: grey;
    font-size: 0.8em;
}

.notification-class-cout{
    display: flex;
    padding: 10px;
    background-color: #f4f4f4;
    width: fit-content;
    border-radius: 10px;
    margin: 5px 0 10px 0;
}

.class-cout{
    text-align: center;
    /*background-color: lightblue;*/
    margin: 10px 0;
    width: 200px;
    height: 65px;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}

.class-cout article:nth-child(1){
    text-transform: capitalize;
    position: relative;
}

.class-cout article:nth-child(2){
    margin-top: 10px;
    color: grey;
    font-size: 0.8em;
}

#notif{
    resize: none;
    padding: 10px;
    height: 100px;
    width: calc(100% - 20px);
    margin-top: 5px;
}

#notif + span{
    color: red;
    font-size: 0.8em;
    display: none;
}

#notifiSendBtn{
    padding: 10px 20px;
    margin: 10px 0 20px 0;
    outline: none;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    font-weight: bold;
    background: none;
    border: none;
}

#notifiSendBtn i{
    margin-right: 5px;
}